name: build-windows-exe

on:
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Install InnoSetup
      uses: crazy-max/ghaction-chocolatey@v2
      with:
        args: install innosetup -y --no-progress
        
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        flutter-version: 3.35.3
        cache: true
        
    - name: Install dependencies
      run: flutter pub get
      
    - name: Build with fastforge
      run: |
        copy "./windows/packaging/exe/ChineseSimplified.isl" "C:\Program Files (x86)\Inno Setup 6\Languages\ChineseSimplified.isl"
        dart pub global activate fastforge
        # 使用 fastforge 构建
        cd scripts
        ./build_windows_exe.bat

    - name: Upload exe artifact
      uses: actions/upload-artifact@v4
      with:
        name: windows-setup.exe
        path: dist/**/*.exe
        overwrite: true
    
