name: build-macos-dmg

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - platform: macos
            os: macos-latest
            arch: amd64
          - platform: macos
            os: macos-latest
            arch: arm64

    steps:
      - name: Verify Xcode
        run: |
          xcode-select -p
          xcodebuild -version
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.35.0
          cache: true

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies for Fastforge
        run: |
          npm install -g appdmg
          dart pub global activate fastforge
          echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH
          fastforge --version
        shell: bash

      - name: Flutter pub get
        run: flutter pub get

      - name: Build & Package DMG
        run: |
          cd scripts
          chmod +x build_macos.sh
          ./build_macos.sh
        shell: bash

      - name: Upload DMG artifact
        uses: actions/upload-artifact@v4
        with:
          name: macos-dmg-${{ matrix.arch }}
          path: dist/**/*.dmg
          overwrite: true
